@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #00ff99;
  --color-primary-hover: #00e187;
  --color-accent: #00ff99;
  --color-accent-hover: #00e187;

  --color-dark: #1c1c22;

  --font-primary: var(--font-jetbrainsMono);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius: 0.5rem;
}

:root {
  --background: #ffffff;
  --foreground: #1c1c22;
  --card: #ffffff;
  --card-foreground: #1c1c22;
  --popover: #ffffff;
  --popover-foreground: #1c1c22;
  --primary: #1c1c22;
  --primary-foreground: #00ff99;
  --secondary: #f4f4f5;
  --secondary-foreground: #1c1c22;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #00ff99;
  --accent-foreground: #1c1c22;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #1c1c22;
  --radius: 0.5rem;
}

.dark {
  --background: #1c1c22;
  --foreground: #ffffff;

  --card: #27272c;
  --card-foreground: #ffffff;

  --popover: #1c1c22;
  --popover-foreground: #ffffff;

  --primary: #00ff99;
  --primary-foreground: #1c1c22;

  --secondary: #27272c;
  --secondary-foreground: #ffffff;

  --muted: #27272c;
  --muted-foreground: #9ca3af;

  --accent: #00e187;
  --accent-foreground: #1c1c22;

  --destructive: #cf6679;
  --destructive-foreground: #ffffff;

  --border: #27272c;
  --input: #27272c;
  --ring: #00ff99;
}

@layer base {
  body {
    @apply bg-background text-foreground font-primary leading-relaxed antialiased;
  }

  .container {
    @apply mx-auto px-3.75 w-full;
  }
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media (min-width: 960px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px var(--color-accent);
    color: transparent;
  }
}
